{% extends "learning_logs_apps/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <div class="jumbotron">
    <h1 class="display-4">
      Отслеживайте свое обучение.
    </h1>

    <p class="lead">
      Заведите собственный журнал обучения и ведите в нем список тем, 
      которые вы изучаете. Каждый раз, когда вы узнаете что-то новое по теме, 
      делайте запись с кратким описанием того, что вы узнали.
    </p>

    <a class="btn btn-lg btn-primary" href="{% url 'users_app:register' %}"
      role="button">Регистрация &raquo;</a>
    <br />
    <br />
    <a class="btn btn-lg btn-primary" href="{% url 'users_app:login' %}"
      role="button">Войти &raquo;</a>

  </div>
{% endblock page_header %}