{% extends "learning_logs_apps/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h1>Изучаемые темы</h1>
{% endblock page_header %}

{% block content %}
  <ul>
      {% for topic in topics %}
        <li>
          <h3>
            <a href="{% url 'learning_logs_apps:topic' topic.id %}">{{ topic }}</a>
          </h3>
        </li>
      {% empty %}
        <li>
          <h3>Вы еще не добавляли изучаемые темы.</h3>
        </li>
      {% endfor %}
  </ul>

  <h3><a href="{% url 'learning_logs_apps:new_topic' %}">Добавить новую тему &raquo;</a></h3>

{% endblock content%}